<h2 class="card-title">Country: {{name}}</h2>
<div class="card">
<div class="card-body">
  <p class="card-text">Capital: {{capital}}</p>
  <p class="card-text">Population: {{population}}</p>
  <p class="card-text">Languages: {{languages}}</p>
  <ul class="card-list">
    {{#each languages}}
    <li class="card-list-item">{{name}}</li>
    {{/each}}
  </ul>
</div>
<div class="card-image">
  <img src="{{flag}}" alt="{{name}}">
</div>
</div>